- extends 'contact.haml'

- block "message_sent"
    .alert.alert-success.alert-block.fade.in
        %h4.alert-heading<
            Envoyé !

        Le mail a été correctement envoyé, vous recevrez une réponse dans les prochaines heures.