- extends 'base_common.haml'

- load markup crowdsourcing
- load url from future

- block "body-content"
    .hero-unit
        %h1<
            W.A.F. BDE
        %p<
            W.A.F. BDE, une équipe motivée et présente, toujours là pour vos events. Nous vous remercions d'avoir eu l'obligation de voté pour nous ;) !
        %a.btn.btn-primary.btn-large{'href': '{% url "contact" %}'}<
            Nous contacter

    %section
        %h2<
            Derniers produits

        - with products.all as prods
            - if prods
                .row
                     %ul.thumbnails
                        - for product in prods
                            .span4
                                .thumbnail
                                    %img{'src': '{{ product.image.url }}'}
                                    .caption
                                        %h3.text-center<
                                            {{ product.name }}
                                        %p<
                                            {{ product.description|markdown:'safe' }}

                                        %p
                                            %strong<
                                                Prix
                                            :
                                            - if product.price > 0
                                                {{ product.price }}€
                                            - else
                                                Gratuit

                                            - if product.quantity > 0
                                                %br
                                                %strong<
                                                    Quantité
                                                : {{ product.quantity }}


            - else
                Aucun produit n'est actuellement disponible.


    %section
        %h2<
            Dernier évènement

        - for event in events.all
            .row
                .span12
                    .event
                        %header
                            %img{'src': '{{ event.poster.url }}'}

                            .infos
                                %h3.text-center<
                                    {{ event.name }}

                                %p<
                                    %strong
                                        Début
                                    : le {{ event.start_date|date:'l d F Y' }} à {{ event.start_date|date:'G\hi' }}
                                    %br
                                    %strong
                                       Fin
                                    :  le {{ event.end_date|date:'l d F Y' }} à {{ event.end_date|date:'G\hi' }}

                                    %br
                                    %strong<
                                        Prix
                                    :
                                    - if event.price > 0
                                        {{ event.price }}€
                                    - else
                                        Gratuit

                                    %br

                                    %strong<
                                        Places
                                    :
                                    - if event.nb_places > 0
                                        {{ event.nb_places }}
                                    - else
                                        Illimité

                                %p<
                                    {{ event.description|markdown:'safe' }}

        - empty
            Aucun évènement n'est actuellement en préparation.
