- extends "base_common.haml"

- load bootstrap
- load url from future

- block "body-content"
    %form.form-signin{'method': 'post'}
            %h2.form-signin-heading<
                Connexion

            .alert.alert-info
                Utilisez le pass
                %strong<
                    UNIX
                pour vous connecter

            - csrf_token

            {{ form|bootstrap }}

            %button.btn.btn-large.btn-primary{'type': 'submit'}<
                Connexion
